In [10]:
import pandas as pd

In [11]:
reddit_data = pd.read_csv('C:/Users/somya/Downloads/Hybrid Model for Crypto Volatility Prediction using Sentiment Analysis/Data_set/reddit_data_5years.csv')

In [12]:
reddit_data.head()

,title,score,id,url,No_Comments,created,Description
0,Bitcoin Newcomers FAQ - Please read!,47,1jwz2d3,https://www.reddit.com/r/Bitcoin/comments/1jwz...,10,2025-04-11 14:59:15,# Welcome to the /r/Bitcoin Newcomers FAQ\n\nY...
1,"Daily Discussion, April 27, 2025",32,1k8x7kr,https://www.reddit.com/r/Bitcoin/comments/1k8x...,30,2025-04-27 01:10:11,Please utilize this sticky thread for all gene...
2,In this SPAR supermarket in üá®üá≠ Switzerland you...,204,1k9ak5c,https://v.redd.it/9awfpgln5fxe1,17,2025-04-27 13:16:28,NaN
3,The Window is Closing ‚è≥,1442,1k8ycby,https://i.redd.it/qf38fww7ybxe1.jpeg,288,2025-04-27 02:29:21,There are ~56 million millionaires in the worl...
4,JUST IN: Bitcoin payments are expanding to all...,160,1k9amsq,https://i.redd.it/axevcif86fxe1.jpeg,3,2025-04-27 13:19:42,NaN

In [13]:
reddit_data = reddit_data.loc[:, ~reddit_data.columns.str.contains('^Unnamed')]

In [14]:
reddit_data.head()

,title,score,id,url,No_Comments,created,Description
0,Bitcoin Newcomers FAQ - Please read!,47,1jwz2d3,https://www.reddit.com/r/Bitcoin/comments/1jwz...,10,2025-04-11 14:59:15,# Welcome to the /r/Bitcoin Newcomers FAQ\n\nY...
1,"Daily Discussion, April 27, 2025",32,1k8x7kr,https://www.reddit.com/r/Bitcoin/comments/1k8x...,30,2025-04-27 01:10:11,Please utilize this sticky thread for all gene...
2,In this SPAR supermarket in üá®üá≠ Switzerland you...,204,1k9ak5c,https://v.redd.it/9awfpgln5fxe1,17,2025-04-27 13:16:28,NaN
3,The Window is Closing ‚è≥,1442,1k8ycby,https://i.redd.it/qf38fww7ybxe1.jpeg,288,2025-04-27 02:29:21,There are ~56 million millionaires in the worl...
4,JUST IN: Bitcoin payments are expanding to all...,160,1k9amsq,https://i.redd.it/axevcif86fxe1.jpeg,3,2025-04-27 13:19:42,NaN

In [15]:
print(reddit_data['title'].isnull().sum())
print(reddit_data['title'].dtype)

0
object

In [16]:
reddit_data['Description'].isnull().sum()

1492

In [17]:
reddit_data['Description']=reddit_data['Description'].fillna(reddit_data['title'])

In [18]:
reddit_data.head()

,title,score,id,url,No_Comments,created,Description
0,Bitcoin Newcomers FAQ - Please read!,47,1jwz2d3,https://www.reddit.com/r/Bitcoin/comments/1jwz...,10,2025-04-11 14:59:15,# Welcome to the /r/Bitcoin Newcomers FAQ\n\nY...
1,"Daily Discussion, April 27, 2025",32,1k8x7kr,https://www.reddit.com/r/Bitcoin/comments/1k8x...,30,2025-04-27 01:10:11,Please utilize this sticky thread for all gene...
2,In this SPAR supermarket in üá®üá≠ Switzerland you...,204,1k9ak5c,https://v.redd.it/9awfpgln5fxe1,17,2025-04-27 13:16:28,In this SPAR supermarket in üá®üá≠ Switzerland you...
3,The Window is Closing ‚è≥,1442,1k8ycby,https://i.redd.it/qf38fww7ybxe1.jpeg,288,2025-04-27 02:29:21,There are ~56 million millionaires in the worl...
4,JUST IN: Bitcoin payments are expanding to all...,160,1k9amsq,https://i.redd.it/axevcif86fxe1.jpeg,3,2025-04-27 13:19:42,JUST IN: Bitcoin payments are expanding to all...

In [19]:
reddit_data.isnull().sum()

title          0
score          0
id             0
url            0
No_Comments    0
created        0
Description    0
dtype: int64

In [20]:
reddit_data['title'][4]

'JUST IN: Bitcoin payments are expanding to all üá®üá≠ Swiss Spar supermarkets after successful pilots in Zug and Kreuzlingen. Rollout will begin as soon as possible.'

In [21]:
import re

def preprocess_text(text):
    try:
        text = re.sub(r'[^a-zA-Z\s]', '', str(text))
        text = text.lower()
        return text
    except Exception as e:
        print(f"Error processing text: {text[:50]}...")
        print(f"Error message: {str(e)}")
        return text

In [22]:
reddit_data['title'] = reddit_data['title'].apply(preprocess_text)

In [23]:
reddit_data['title']

0                      bitcoin newcomers faq  please read
1                                daily discussion april
2       in this spar supermarket in  switzerland you c...
3                                  the window is closing
4       just in bitcoin payments are expanding to all ...
                              ...
3167              bitcoin price watch live trade  newsbtc
3168                       bitcoin price projections for
3169    moviefree a beautiful mind  subtitles movie ip...
3170    free book youth by j m coetzee epub kindle acq...
3171                               rcryptoanalysis lounge
Name: title, Length: 3172, dtype: object

In [24]:
reddit_data['Description'] = reddit_data['Description'].apply(preprocess_text)

In [25]:
reddit_data['Description']

0        welcome to the rbitcoin newcomers faq\n\nyouv...
1       please utilize this sticky thread for all gene...
2       in this spar supermarket in  switzerland you c...
3       there are  million millionaires in the world t...
4       just in bitcoin payments are expanding to all ...
                              ...
3167              bitcoin price watch live trade  newsbtc
3168                       bitcoin price projections for
3169
3170                                        ashley harris
3171    a place for members of rcryptoanalysis to chat...
Name: Description, Length: 3172, dtype: object

In [26]:
reddit_data.head()

,title,score,id,url,No_Comments,created,Description
0,bitcoin newcomers faq please read,47,1jwz2d3,https://www.reddit.com/r/Bitcoin/comments/1jwz...,10,2025-04-11 14:59:15,welcome to the rbitcoin newcomers faq\n\nyouv...
1,daily discussion april,32,1k8x7kr,https://www.reddit.com/r/Bitcoin/comments/1k8x...,30,2025-04-27 01:10:11,please utilize this sticky thread for all gene...
2,in this spar supermarket in switzerland you c...,204,1k9ak5c,https://v.redd.it/9awfpgln5fxe1,17,2025-04-27 13:16:28,in this spar supermarket in switzerland you c...
3,the window is closing,1442,1k8ycby,https://i.redd.it/qf38fww7ybxe1.jpeg,288,2025-04-27 02:29:21,there are million millionaires in the world t...
4,just in bitcoin payments are expanding to all ...,160,1k9amsq,https://i.redd.it/axevcif86fxe1.jpeg,3,2025-04-27 13:19:42,just in bitcoin payments are expanding to all ...

In [27]:
from transformers import DistilBertTokenizer, DistilBertForSequenceClassification
import torch

In [28]:
tokenizer = DistilBertTokenizer.from_pretrained('distilbert-base-uncased-finetuned-sst-2-english')

c:\Users\somya\anaconda3\Lib\site-packages\huggingface_hub\file_download.py:896: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [29]:
model = DistilBertForSequenceClassification.from_pretrained('distilbert-base-uncased-finetuned-sst-2-english')

In [30]:
inputs = tokenizer(reddit_data['title'].tolist(), padding=True, truncation=True, return_tensors="pt")

In [31]:
with torch.no_grad():
    outputs = model(**inputs)

In [32]:
outputs

SequenceClassifierOutput(loss=None, logits=tensor([[-2.4078,  2.4065],
        [-2.1417,  2.2021],
        [ 3.3003, -2.7468],
        ...,
        [-0.5458,  0.6291],
        [ 2.5504, -2.1872],
        [ 1.2208, -1.0480]]), hidden_states=None, attentions=None)

In [33]:
logits = outputs.logits

In [34]:
logits

tensor([[-2.4078,  2.4065],
        [-2.1417,  2.2021],
        [ 3.3003, -2.7468],
        ...,
        [-0.5458,  0.6291],
        [ 2.5504, -2.1872],
        [ 1.2208, -1.0480]])

In [35]:
probabilities = torch.nn.functional.softmax(logits, dim=1)

In [36]:
probabilities

tensor([[0.0080, 0.9920],
        [0.0128, 0.9872],
        [0.9976, 0.0024],
        ...,
        [0.2360, 0.7640],
        [0.9913, 0.0087],
        [0.9063, 0.0937]])

In [37]:
reddit_data['title_sentiment'] = 2 * probabilities[:, 1].numpy() - 1

In [38]:
reddit_data.head()

,title,score,id,url,No_Comments,created,Description,title_sentiment
0,bitcoin newcomers faq please read,47,1jwz2d3,https://www.reddit.com/r/Bitcoin/comments/1jwz...,10,2025-04-11 14:59:15,welcome to the rbitcoin newcomers faq\n\nyouv...,0.983905
1,daily discussion april,32,1k8x7kr,https://www.reddit.com/r/Bitcoin/comments/1k8x...,30,2025-04-27 01:10:11,please utilize this sticky thread for all gene...,0.974359
2,in this spar supermarket in switzerland you c...,204,1k9ak5c,https://v.redd.it/9awfpgln5fxe1,17,2025-04-27 13:16:28,in this spar supermarket in switzerland you c...,-0.995282
3,the window is closing,1442,1k8ycby,https://i.redd.it/qf38fww7ybxe1.jpeg,288,2025-04-27 02:29:21,there are million millionaires in the world t...,-0.956648
4,just in bitcoin payments are expanding to all ...,160,1k9amsq,https://i.redd.it/axevcif86fxe1.jpeg,3,2025-04-27 13:19:42,just in bitcoin payments are expanding to all ...,-0.761803

In [39]:
reddit_data[reddit_data['title_sentiment']>0].shape

(950, 8)

In [40]:
reddit_data[reddit_data['title_sentiment']<0].shape

(2222, 8)

In [41]:
inputs1 = tokenizer(reddit_data['Description'].tolist(), padding=True, truncation=True,max_length=100, return_tensors="pt")

In [42]:
with torch.no_grad():
    outputs1 = model(**inputs1)

In [43]:
outputs1

SequenceClassifierOutput(loss=None, logits=tensor([[ 0.0880,  0.0447],
        [ 3.5621, -2.9715],
        [ 3.3003, -2.7468],
        ...,
        [-0.4999,  0.5887],
        [-1.0106,  1.0628],
        [-2.5980,  2.6117]]), hidden_states=None, attentions=None)

In [44]:
logits1 = outputs1.logits

In [45]:
logits1

tensor([[ 0.0880,  0.0447],
        [ 3.5621, -2.9715],
        [ 3.3003, -2.7468],
        ...,
        [-0.4999,  0.5887],
        [-1.0106,  1.0628],
        [-2.5980,  2.6117]])

In [46]:
probabilities1 = torch.nn.functional.softmax(logits1, dim=1)

In [47]:
probabilities1

tensor([[0.5108, 0.4892],
        [0.9985, 0.0015],
        [0.9976, 0.0024],
        ...,
        [0.2519, 0.7481],
        [0.1117, 0.8883],
        [0.0054, 0.9946]])

In [48]:
reddit_data['description_sentiment'] = 2 * probabilities1[:, 1].numpy() - 1

In [49]:
reddit_data[reddit_data['description_sentiment']>0].shape

(806, 9)

In [50]:
reddit_data[reddit_data['description_sentiment']<0].shape

(2366, 9)

In [51]:
reddit_data['created']=pd.to_datetime(reddit_data['created'])

In [52]:
reddit_daily = reddit_data.groupby(reddit_data['created'].dt.date).agg({
    'score': 'mean',
    'No_Comments': 'sum',
    'title_sentiment': 'mean',
    'description_sentiment': 'mean'
}).reset_index()

In [53]:
reddit_daily

,created,score,No_Comments,title_sentiment,description_sentiment
0,2016-02-09,1.000000,1,-0.982634,0.776574
1,2016-07-01,1.000000,1,0.528056,0.496242
2,2017-09-18,1.000000,0,-0.877151,-0.877151
3,2017-09-28,1.000000,0,-0.969502,-0.969502
4,2017-10-05,1.000000,0,-0.780034,-0.780034
...,...,...,...,...,...
628,2025-04-23,199.056075,3456,-0.340742,-0.380292
629,2025-04-24,129.756098,4260,-0.185081,-0.315323
630,2025-04-25,133.092308,5241,-0.284980,-0.367971
631,2025-04-26,136.930693,2992,-0.324115,-0.497646
632,2025-04-27,71.650602,1476,-0.267564,-0.488589

In [54]:
reddit_daily[reddit_daily['description_sentiment']>0].shape

(79, 5)

In [55]:
reddit_daily[reddit_daily['description_sentiment']<0].shape

(554, 5)

In [56]:
reddit_daily[reddit_daily['title_sentiment']>0].shape

(118, 5)

In [57]:
reddit_daily[reddit_daily['description_sentiment']<0].shape

(554, 5)

In [58]:
reddit_daily['created'] = pd.to_datetime(reddit_daily['created']).dt.date

In [59]:
reddit_daily.set_index('created', inplace=True)

In [60]:
reddit_daily.head()

            score  No_Comments  title_sentiment  description_sentiment
created
2016-02-09    1.0            1        -0.982634               0.776574
2016-07-01    1.0            1         0.528056               0.496242
2017-09-18    1.0            0        -0.877151              -0.877151
2017-09-28    1.0            0        -0.969502              -0.969502
2017-10-05    1.0            0        -0.780034              -0.780034

In [67]:

market_data = pd.read_csv('C:/Users/somya/Downloads/Hybrid Model for Crypto Volatility Prediction using Sentiment Analysis/Data_set/bitcon_merged_volatility_file.csv')

In [68]:
market_data.head()

,date,price,total_volume,market_cap,coin_name,bitcoin_returns,bitcoin_volatility
0,2015-01-01 00:00:00.000,313.992,4.699936e+07,4.293958e+09,bitcoin,0.002189,0.626246
1,2015-01-02 00:00:00.000,314.446,3.885591e+07,4.301448e+09,bitcoin,0.001446,0.626246
2,2015-01-03 00:00:00.000,286.572,1.187789e+08,3.921358e+09,bitcoin,-0.088645,0.626246
3,2015-01-04 00:00:00.000,260.936,2.055001e+08,3.571640e+09,bitcoin,-0.089457,0.626246
4,2015-01-05 00:00:00.000,273.220,1.550381e+08,3.740880e+09,bitcoin,0.047077,0.626246

In [69]:
market_data = market_data.loc[:, ~market_data.columns.str.contains('^Unnamed')]

In [70]:
market_data.head()

,date,price,total_volume,market_cap,coin_name,bitcoin_returns,bitcoin_volatility
0,2015-01-01 00:00:00.000,313.992,4.699936e+07,4.293958e+09,bitcoin,0.002189,0.626246
1,2015-01-02 00:00:00.000,314.446,3.885591e+07,4.301448e+09,bitcoin,0.001446,0.626246
2,2015-01-03 00:00:00.000,286.572,1.187789e+08,3.921358e+09,bitcoin,-0.088645,0.626246
3,2015-01-04 00:00:00.000,260.936,2.055001e+08,3.571640e+09,bitcoin,-0.089457,0.626246
4,2015-01-05 00:00:00.000,273.220,1.550381e+08,3.740880e+09,bitcoin,0.047077,0.626246

In [72]:
market_data['date'] = pd.to_datetime(market_data['date']).dt.date

In [73]:
market_data.set_index('date', inplace=True)

In [74]:
market_data.head()

,price,total_volume,market_cap,coin_name,bitcoin_returns,bitcoin_volatility
date,,,,,,
2015-01-01,313.992,4.699936e+07,4.293958e+09,bitcoin,0.002189,0.626246
2015-01-02,314.446,3.885591e+07,4.301448e+09,bitcoin,0.001446,0.626246
2015-01-03,286.572,1.187789e+08,3.921358e+09,bitcoin,-0.088645,0.626246
2015-01-04,260.936,2.055001e+08,3.571640e+09,bitcoin,-0.089457,0.626246
2015-01-05,273.220,1.550381e+08,3.740880e+09,bitcoin,0.047077,0.626246

In [75]:

combined_data = pd.merge(market_data, reddit_daily, left_index=True, right_index=True, how='left')

In [76]:
combined_data.head()

,price,total_volume,market_cap,coin_name,bitcoin_returns,bitcoin_volatility,score,No_Comments,title_sentiment,description_sentiment
2015-01-01,313.992,4.699936e+07,4.293958e+09,bitcoin,0.002189,0.626246,NaN,NaN,NaN,NaN
2015-01-02,314.446,3.885591e+07,4.301448e+09,bitcoin,0.001446,0.626246,NaN,NaN,NaN,NaN
2015-01-03,286.572,1.187789e+08,3.921358e+09,bitcoin,-0.088645,0.626246,NaN,NaN,NaN,NaN
2015-01-04,260.936,2.055001e+08,3.571640e+09,bitcoin,-0.089457,0.626246,NaN,NaN,NaN,NaN
2015-01-05,273.220,1.550381e+08,3.740880e+09,bitcoin,0.047077,0.626246,NaN,NaN,NaN,NaN

In [77]:
combined_data.shape

(3739, 10)

In [78]:
combined_data[combined_data['description_sentiment']>0].shape

(76, 10)

In [79]:
combined_data[combined_data['description_sentiment']<0].shape

(541, 10)

In [80]:
combined_data[combined_data['title_sentiment']>0].shape

(115, 10)

In [81]:
combined_data[combined_data['title_sentiment']<0].shape

(502, 10)

In [82]:
combined_data.isnull().sum()[:20]

price                       0
total_volume                0
market_cap                  1
coin_name                   0
bitcoin_returns             0
bitcoin_volatility          0
score                    3122
No_Comments              3122
title_sentiment          3122
description_sentiment    3122
dtype: int64

In [83]:
combined_data.shape

(3739, 10)

In [84]:
combined_data['score']=combined_data['score'].fillna(combined_data['score'].mean())

In [85]:
combined_data['No_Comments']=combined_data['No_Comments'].fillna(combined_data['No_Comments'].median())

In [86]:
combined_data['title_sentiment']=combined_data['title_sentiment'].fillna(combined_data['title_sentiment'].max())

In [87]:
combined_data['description_sentiment']=combined_data['description_sentiment'].fillna(combined_data['description_sentiment'].max())

In [88]:
combined_data.isnull().sum()

price                    0
total_volume             0
market_cap               1
coin_name                0
bitcoin_returns          0
bitcoin_volatility       0
score                    0
No_Comments              0
title_sentiment          0
description_sentiment    0
dtype: int64

In [89]:
combined_data[combined_data['description_sentiment']>0].shape

(3198, 10)

In [90]:
for col in ['score', 'No_Comments', 'title_sentiment', 'description_sentiment']:
    for i in range(1,8):
        combined_data[f'{col}_lag{i}'] = combined_data[col].shift(i)

In [91]:
combined_data.head()

,price,total_volume,market_cap,coin_name,bitcoin_returns,bitcoin_volatility,score,No_Comments,title_sentiment,description_sentiment,...,title_sentiment_lag5,title_sentiment_lag6,title_sentiment_lag7,description_sentiment_lag1,description_sentiment_lag2,description_sentiment_lag3,description_sentiment_lag4,description_sentiment_lag5,description_sentiment_lag6,description_sentiment_lag7
2015-01-01,313.992,4.699936e+07,4.293958e+09,bitcoin,0.002189,0.626246,19.019289,6.0,0.999642,0.997183,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-02,314.446,3.885591e+07,4.301448e+09,bitcoin,0.001446,0.626246,19.019289,6.0,0.999642,0.997183,...,NaN,NaN,NaN,0.997183,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-03,286.572,1.187789e+08,3.921358e+09,bitcoin,-0.088645,0.626246,19.019289,6.0,0.999642,0.997183,...,NaN,NaN,NaN,0.997183,0.997183,NaN,NaN,NaN,NaN,NaN
2015-01-04,260.936,2.055001e+08,3.571640e+09,bitcoin,-0.089457,0.626246,19.019289,6.0,0.999642,0.997183,...,NaN,NaN,NaN,0.997183,0.997183,0.997183,NaN,NaN,NaN,NaN
2015-01-05,273.220,1.550381e+08,3.740880e+09,bitcoin,0.047077,0.626246,19.019289,6.0,0.999642,0.997183,...,NaN,NaN,NaN,0.997183,0.997183,0.997183,0.997183,NaN,NaN,NaN

In [92]:
combined_data.isnull().sum()

price                         0
total_volume                  0
market_cap                    1
coin_name                     0
bitcoin_returns               0
bitcoin_volatility            0
score                         0
No_Comments                   0
title_sentiment               0
description_sentiment         0
score_lag1                    1
score_lag2                    2
score_lag3                    3
score_lag4                    4
score_lag5                    5
score_lag6                    6
score_lag7                    7
No_Comments_lag1              1
No_Comments_lag2              2
No_Comments_lag3              3
No_Comments_lag4              4
No_Comments_lag5              5
No_Comments_lag6              6
No_Comments_lag7              7
title_sentiment_lag1          1
title_sentiment_lag2          2
title_sentiment_lag3          3
title_sentiment_lag4          4
title_sentiment_lag5          5
title_sentiment_lag6          6
title_sentiment_lag7          7
description_sentiment_lag1    1
description_sentiment_lag2    2
description_sentiment_lag3    3
description_sentiment_lag4    4
description_sentiment_lag5    5
description_sentiment_lag6    6
description_sentiment_lag7    7
dtype: int64

In [93]:
for col in ['score_lag','title_sentiment_lag', 'description_sentiment_lag']:
    for i in range(1,8): 
        combined_data[f"{col}{i}"]=combined_data[f"{col}{i}"].fillna(combined_data[f"{col}{i}"].mean())

In [94]:
for i in range(1,8):
    combined_data[f'No_Comments_lag{i}']=combined_data[f'No_Comments_lag{i}'].fillna(combined_data[f'No_Comments_lag{i}'].median())

In [95]:
combined_data.isnull().sum()

price                         0
total_volume                  0
market_cap                    1
coin_name                     0
bitcoin_returns               0
bitcoin_volatility            0
score                         0
No_Comments                   0
title_sentiment               0
description_sentiment         0
score_lag1                    0
score_lag2                    0
score_lag3                    0
score_lag4                    0
score_lag5                    0
score_lag6                    0
score_lag7                    0
No_Comments_lag1              0
No_Comments_lag2              0
No_Comments_lag3              0
No_Comments_lag4              0
No_Comments_lag5              0
No_Comments_lag6              0
No_Comments_lag7              0
title_sentiment_lag1          0
title_sentiment_lag2          0
title_sentiment_lag3          0
title_sentiment_lag4          0
title_sentiment_lag5          0
title_sentiment_lag6          0
title_sentiment_lag7          0
description_sentiment_lag1    0
description_sentiment_lag2    0
description_sentiment_lag3    0
description_sentiment_lag4    0
description_sentiment_lag5    0
description_sentiment_lag6    0
description_sentiment_lag7    0
dtype: int64

In [96]:
combined_data.to_csv('reddit_market_combined_data.csv')